/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_dark {
  --header-logo-color: #db00ff;
  --main-bg-color: #00183f;
  --accent-color: #ff0070;
  --nav-color: #ff0070;
  --footer-logo-color: #db00ff;
  --main-heading-color: #00183f;
  --section-heading-color: #ff0070;
  --nav-button-color: #ff0070;
  --marker-border-color: #ff0070;
  --marker-color: #ff0070;
  --text-decoration-line: #f1b2ce;
  background-image: url(../images/cover-image-dark.png);
}

.theme_dark .header__theme-menu-button_active {
  border: 1px solid var(--nav-color);
}

.theme_light .header__theme-menu-button_active {
  border: 1px solid var(--nav-buuton-color);
}

.theme_dark .header__theme-menu-button:hover {
  --nav-hover-color: rgb(255 0 112 / 0.4);
}

.theme_light .header__theme-menu-button:hover {
  --nav-hover-color: rgb(173 164 166);
}

@media (prefers-color-sheme: light) {
  :root {
    --accent-color: #ff8dcb;
    --main-bg-color: #fff1f7;
    --main-text-color: #353430;
    --nav-color: #353430;
    --main-heading-color: #353430;
    --section-heading-color: #353430;
  }
}

.page {
  background-image: url(../images/cover-image-light.png);
}

.header__rec {
  display: block;
}

.header__theme-menu-button_active {
  border: 1px solid var(--nav-color);
}

.header__theme-menu-button:hover {
  --nav-hover-color: rgb(50 49 45 / 0.4);
  --nav-hover-color: rgb(255 0 112 / 0.4);
}
