/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_light {
  --main-text-color: #353430;
  --main-heading-color: #00183f;
  --section-heading-color: #353430;
  --header-logo-color: #FFC2E6;
  --main-bg-color: #00183f;
  --accent-color: #ff8dcb;
  --nav-color: #ff0070;
  --nav-buuton-color: #353430;
  --footer-logo-color: #db00ff;
  --nav-hover-color: #353430;
  --marker-color: transparent;
  --marker-border-color: #353430;
  --text-decoration-line: #353430;
  background-image: url(../images/cover-image-light.png);
}
