/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  background-image: url(../images/cover-image-dark.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-inline-size: 375px;
  max-inline-size: 1024px;
  font-family: var(--main-font-family, monospace);
}

.content-section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.header {
  position: relative;
  width: 100%;
  height: 100vh;
}

.header__rec {
  font-size: var(--main-text-size);
  color: var(--marker-color);
  text-transform: uppercase;
  margin-inline-start: 80.8%;
  margin-block-start: 2.1%;
  position: absolute;
}

.colored-text {
  color: var(--marker-color);
  font-size: 28px;
  text-shadow: 0px 0px 9px var(--marker-color);
  margin-inline-start: 30%;
  position: absolute;
  margin-block-start: -28.9%;
}

.content__link {
  text-decoration: none;
  text-shadow: 2px 2px 0 var(--nav-color);
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: var(--main-gap);

}

.header__theme-menu-button {
  position: relative;
  border: 1px solid transparent;
  padding: 2px 13px 4px;
  color: var(--nav-button-color);
  line-height: 1;
  text-transform: lowercase;
  background-color: transparent;
  font-size: var(--main-text-size);
  font-family: var(--main-font-family);
  gap: var(--main-gap);
  cursor: pointer;
  appearance: none;
  margin-inline-start: 530%;
  margin-block-start: 26%;
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible::after {
  content: '';
  position: absolute;
  inline-size: 100%;
  block-size: 1px;
  background-color: var(--nav-button-color);
  inset-block-end: -2px;
  inset-inline-start: 0;
}

.header__theme-menu-button:hover {
  --nav-hover-color: rgb(255 0 112 / 0.4);
  border: 1px solid var(--nav-hover-color);
}

.header__theme-menu-button_active {
  border: 1px solid var(--nav-color);
  pointer-events: none;
}

.header__logo {
  justify-content: start;
  margin-block-start: 26.9%;
  margin-inline-start: -1.2%;
  color: var(--header-logo-color);
  font-size: var(--main-font-size);
  line-height: 0.825;
  text-shadow: 4px 4px 0 var(--nav-color);
  font-family: var(--main-font-family);
  position: absolute;
}

.header__paragraph {
  color: #000028;
  font-family: var(--main-font-family);
  font-size: var(--main-text-size);
  font-style: normal;
  font-weight: 700;
  line-height: 23.4px;
  width: 51%;
  height: 11%;
  background-color: var(--accent-color);
  position: absolute;
  margin-block-start: 50.6%;
  margin-inline-start: 49%;
}

.content-section__title {
  margin-block-end: calc(2 * var(--main-gap));
  color: var(--section-heading-color);
  font-size: var(--main-text-size);
  line-height: var(--main-line-height);
  width: 170%;
  margin-block-start: 92.50%;
  margin-inline-start: -0.5%;
}

.content-section__title-layoate {
  margin-block-end: calc(2 * var(--main-gap));
  color: var(--section-heading-color);
  font-size: var(--main-text-size);
  line-height: var(--main-line-height);
  width: 205%;
  position: relative;
  margin-block-start: 441%;
  margin-inline-start: -499%;
}

.content-section__title-heading {
  margin-block-end: calc(2 * var(--main-gap));
  color: var(--section-heading-color);
  font-size: var(--main-text-size);
  line-height: var(--main-line-height);
  margin-block-start: 76.8%;
  width: 50%;
  margin-inline-start: -24.9%;
}

.text-block__heading {
  font-size: var(--main-text-size);
  line-height: var(--main-line-height);
  font-family: var(--main-font-family);
  background-color: var(--accent-color);
  margin-block-start: 23.2%;
  margin-inline-start: 24.5%;
  width: 96.7%;
}

.text-block__heading-layoate {
  font-size: var(--main-text-size);
  line-height: var(--main-line-height);
  font-family: var(--main-font-family);
  background-color: var(--accent-color);
  display: flex;
  justify-content: start;
  width: 187.5%;
  margin-inline-start: -0.5%;
  margin-block-start: 2.5%;
}

.text-block__heading-layoate-decor {
  font-size: var(--main-text-size);
  line-height: var(--main-line-height);
  font-family: var(--main-font-family);
  background-color: var(--accent-color);
  display: flex;
  justify-content: start;
  width: 187.5%;
  margin-inline-start: 198.5%;
  margin-block-start: -235.9%;
}

.text-block__heading-layoate-content {
  font-size: var(--main-text-size);
  line-height: var(--main-line-height);
  font-family: var(--main-font-family);
  background-color: var(--accent-color);
  display: flex;
  justify-content: start;
  width: 186.5%;
  margin-inline-start: 397%;
  margin-block-start: -224%;
}

.text-block__subheading-content {
  font-size: var(--main-text-size);
  line-height: var(--main-line-height);
  font-family: var(--main-font-family);
  background-color: var(--accent-color);
  margin-block-start: 306%;
  width: 385%;
  margin-inline-start: -299.5%;
}

.text-block__heading-content {
  font-size: var(--main-text-size);
  line-height: var(--main-line-height);
  font-family: var(--main-font-family);
  background-color: var(--accent-color);
  position: absolute;
  margin-block-start: 1.2%;
  margin-inline-start: -29.99%;
  width: 38.55%;
  font-weight: 400;
}

.text-block__heading-subcontent {
  font-size: var(--main-text-size);
  line-height: var(--main-line-height);
  font-family: var(--main-font-family);
  background-color: var(--accent-color);
  margin-block-start: 168.5%;
  width: 385%;
  margin-inline-start: -299.5%;
  font-weight: inherit;
}

.text-block__paragraph {
  width: 670.918px;
  margin-block-start: 1.5%;
  margin-inline-start: 24.5%;
  color: var(--main-text-color);
  margin-block-end: -20.2%;
}

.text-block__paragraph-layoate {
  color: var(--main-text-color);
  font-family: var(--main-font-family);
  width: 185%;
  margin-block-start: 6%;
  margin-block-end: 8%;
}

.text-block__paragraph-content {
  color: var(--main-text-color);
  font-family: var(--main-font-family);
  width: 38%;
  position: absolute;
  margin-block-start: 3.1%;
  margin-inline-start: -29.8%;
}

.title-layoate {
  margin-inline-start: 199%;
}

.title-layoate-decor {
  margin-inline-start: 398%;
  margin-block-start: 8%;
}

.subparagraph {
  margin-block-start: 0.5%;
}

.subparagraph-content {
  margin-block-start: 10.6%;
}

.subparagraph-content-block {
  margin-block-start: 23.5%;
}

.subparagraph-content-subtext {
  margin-block-start: 33.59%;
}

.subtitle {
  margin-block-start: 8.7%;
}

.subtitle-content {
  margin-block-start: 21.59%;
}

.subtitle-content-block {
  margin-block-start: 31.69%;
}

.grid-heading {
  font-size: var(--main-text-size);
  line-height: var(--main-line-height);
  font-family: var(--main-font-family);
  background-color: var(--accent-color);
  margin-block-start: 227.5%;
  width: 292.6%;
  height: 1.25%;
}

.grid-image {
  width: 649px;
  height: 260px;
  margin-block-start: 47.91%;
  margin-inline-start: -0.01%;
  position: absolute;
  filter: brightness(100%);
}

.grid-image-ice {
  width: 315px;
  height: 595px;
  margin-block-start: 47.9%;
  margin-inline-start: 39.7%;
  position: absolute;
  filter: brightness(100%);
}

.grid-image-casets {
  width: 315px;
  height: 768px;
  margin-block-start: 323.5%;
  margin-inline-start: -100%;
  filter: brightness(100%);
}

.grid-image-books {
  width: 315px;
  height: 315px;
  margin-block-start: 323.5%;
  margin-inline-start: -100%;
  filter: brightness(100%);
}

.grid-image-street {
  width: 649px;
  height: 428px;
  margin-block-start: 84.74%;
  margin-inline-start: 19.85%;
  filter: brightness(100%);
  position: absolute;
}

@media (width >=524px) {
  .header {
    min-block-size: 640px;
  }

  .header__theme-menu {
    justify-self: start;
    align-self: start;
  }

  .header__theme-menu-list {
    flex-direction: row;
  }
}

.content {
  padding: calc(4 * var(--main-gap)) var(--main-gap);
  font-size: var(--main-text-size);
  line-height: var(--main-line-height);
}

.footer {
  width: 100%;
  height: 100vh;
}

.footer__logo {
  color: var(--header-logo-color);
  font-size: var(--main-font-size);
  line-height: 0.825;
  text-shadow: 2px 2px 0 var(--nav-color);
  margin-block-start: 34.1%;
  margin-inline-start: 25.89%;
}
